body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
}

h1 {
    color: #333;
}

h2 {
    color: #333;
    margin-top: 40px;
}

p {
    font-size: 1.2em;
    color: #555;
}

#conSaldo, #sinSaldo {
    margin-top: 20px;
    font-size: 1.1em;
}

.billetera {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f1f1f1;
}

.saldo {
    font-weight: bold;
    color: #28a745; /* Verde para saldo */
}

.saldo-none {
    color: #ff0000; /* Rojo para sin saldo */
}

.hash {
    font-size: 0.9em;
    color: #aaa;
}
