body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
}

h1 {
    color: #333;
}

p {
    font-size: 1.2em;
    color: #555;
}

#resultados {
    margin-top: 20px;
    font-size: 1.1em;
}

.billetera {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.saldo {
    font-weight: bold;
    color: #28a745;
}
